@{
    /**/

    ViewBag.Title = "Home";
}

<div class="full_bg">
    <!-- header inner -->
    <div class="section">
        <!-- carousel code -->
        <div @*id="banner1" class="carousel slide slider_main"*@>
            @*<ol class="carousel-indicators ">
                    <li data-target="#banner1" data-slide-to="0" class="indicator-li-1">01</li>
                    <li data-target="#banner1" data-slide-to="1" class="">02</li>
                    <li data-target="#banner1" data-slide-to="2" class="active">03</li>
                </ol>*@
            <div class="carousel-inner">
                <!-- first slide -->
                <div class="carousel-item active">
                    <div class="carousel-caption cuplle">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="photog">
                                        <h1 class="mainPageCard"><span class="red">P</span>andemic <span class="red">S</span>urvival<br><span class="red">U</span>niversity</h1>
                                        <h4><span class="red">S</span>cheduling <span class="red">A</span>dministration <span class="red">T</span>ool</h4>
                                        <br />
                                        @if (Request.IsAuthenticated)
                                        { }
                                        else
                                        {
                                            <a class="read_more" href="@Url.Action("Login", "Account")">Log In</a>
                                            <a class="read_more" href="@Url.Action("Register", "Account")">Register</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>