@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
   Thank you for registering!
</p>
<p class="text-center">
    <a href="@Url.Action("Home", "Index")">Click here to return to the home page</a>
</p>
